.doctor_card {
    display: flex;
    flex-direction: column;
}
.home-page__doctors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

.doctor-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.doctor-card__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.doctor-card__name {
    font-size: 20px;
    margin-bottom: 5px;
}

.doctor-card__specialty {
    font-size: 16px;
    color: #666;
}