.search-with-filters {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-with-filters__input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-with-filters__select {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.search-with-filters__button {
    width: 10%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-with-filters__button:hover {
    background-color: #0056b3;
}
