.footer {
    background-color: #f1f1f1;
    padding: 20px;
}

.footer__logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer__logo-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer__logo-text {
    font-size: 20px;
}

.footer__contact-info {
    margin-bottom: 10px;
}

.footer__address, .footer__phone, .footer__email {
    margin-bottom: 5px;
}

.footer__social-icon {
    color: #333;
    font-size: 20px;
    margin-right: 10px;
}

.footer__social-icon:hover {
    color: #007bff;
}