.home-page {
    text-align: center;
    padding: 50px;
}

.home-page__title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.home-page__description {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
}
