.navigation-menu {
    background-color: #f2f2f2;
    padding: 20px;
}

.navigation-menu__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navigation-menu__item {
    margin: 0 10px;
}

.navigation-menu__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navigation-menu__link:hover {
    color: #ff0000;
}
